<!DOCTYPE html>
<html style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
<head>
<meta charset="UTF-8">
<title> Thneyti - Real-Time Tunisian Transportation guide REST API </title>
<link rel="shortcut icon" type="image/png" href="/images/logo.png"/>
<link rel="stylesheet" href="style.css">

 <div style="background-image: url('/images/bg.jpg');
 background-position: center;
 background-repeat: no-repeat;
 background-position: 0px 0px;
 background-size: 1500px 800px;
 padding-bottom: 660px;
 background-attachment:scroll;
 position:absolute;
 top:0;
 left:0;
 width: 1349.2px;"> 
 <div style="background-color: #ebd4b5;
 padding-top:2px;
    padding-left:90px;
    padding-right:1259px;
    padding-bottom:80px; 
    max-width: 1400px;
    margin: auto; 
    opacity: 0.8;
    position: absolute;"> 
    </div>
<a style="
opacity:0.8;
text-decoration: none;
position:absolute;
 left:40px;
 padding-bottom: 660px;
 opacity:1;" href="index.html"> <img src="/images/logo.png" style=" position:absolute;
 top:2px;"width="100px" />
 <nobr id="titre" style="color:rgb(212, 60, 106); 
 font-size: 50px;
 position:absolute;
 top:0px;
 opacity:1;
 left:120px;"> Thneyti </nobr>
 </a>
 <button style="border:1px solid #ebd4b5;
 background: #e9cfad;
 border-radius: 5px 5px 5px 5px;
 padding:10px;
 position:absolute; 
 left:1140px; 
 top:15px;
 font-size:17px;
 font-weight: bold;
 color:rgb(71, 64, 64);
 "> Login </button>
 <button style="border:1px solid #ebd4b5;
 background: #e9cfad;
 border-radius: 5px 5px 5px 5px;
 padding:10px;
 position:absolute; 
 left:1240px; 
 top:15px;
 font-size:17px;
 font-weight: bold;
 color:rgb(71, 64, 64);
 "> Sign Up </button>
 <div style="color:rgb(243, 220, 189);
 font-size:50px;
 font-weight: bold;
 margin-top:250px;
 margin-left: 50px;">
    Real-Time Tunisian <br> Public Transportation <br> REST API
 </div>
 </div>

</head>
<body style="background-color:black;">
  <p style="color:white;
  margin-top:850px;
  margin-left:120px;
  font-size:20px;"> Project By Sarra Koussaier <br> <br> Junior IT/BA @TBS </p>





</body>
</html> 
